.about__title {
    margin-bottom: .3em;
    /* transition: opacity 2s ease-in-out; */
}


.about__text {
    font-size: 2rem;
}

.about-section {
    background-color: var(--main-700);
    padding: 2em;
}

.about {
    margin-bottom: 4em;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.about__inner {
display: flex;
flex-direction: column;
justify-content: center;
overflow-x: hidden;
}

.about__cta {
    background-color: var(--accent-300);
    height: 20.5rem;
    /* width: calc(100% + 2rem); */
    width: 100%;
    border-radius: 5px;
    padding: 2em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 600px) {
    .about__title {
        text-align: left;
    }
}
@media screen and (min-width: 798px) {
    .about {
        flex-direction: row;
        justify-content: space-around;
    }

    .about__content {
        flex-basis: 50%;

    }

    .about__cta {
        width: 30rem;
        max-height: 40rem;
        margin-top: 15rem;
        justify-content: flex-end;
    }

    .about-right-content {
        order: 2;
    }
}