.contact-links-container {
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}

.contact-links-light {
    background-color: var(--accent-300);
}

.contact-links-container p {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.contact-links-light p {
    color: var(--main-700)
}

.contact-icon {
    display: block;
}

.contact-icon svg {
    color: inherit;
}

@media screen and (min-width: 798px) {
    .contact-links-container {
        flex-direction: row;
    }
}