.header {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 70px;
    position: fixed;
    z-index: 1000;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: min(30vh, 10rem) 5rem;

}

.nav {
    background: rgba(7, 59, 76, .7);
    backdrop-filter: blur(2rem);
    position: fixed;
    inset: 0 0 0 30%;
    transition: transform 250ms ease-in-out;
}

.navigation-closed {
    transform: translateX(100%);
}

.navigation-open {
    transform: translateX(0);
}


.nav-list-item {
    font-size: 3rem;
    color: var(--main-200);
    position: relative;
}

.nav-list-item:before {
    content:"-";
    position: absolute;
    left: -20px;
}

/*   HAMBURGER */

.mobile-nav-toggle {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 9999;
}

.svg-inline--fa {
    color: var(--main-200);
    font-size: 2rem;
}





@media screen and (min-width: 798px) {
    .nav {
        inset: 0 0 0 70%;
    }
    .header {
        height: 50px;
    }
}

@media (orientation: landscape) {
    .nav__list {
        gap: 1em;
        padding: min(30vh, 5rem) 5rem;
    
    }
    .nav-list-item {
        font-size: 2.5rem;
    }
}