.header {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(2rem);
    inset: 0 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: centeR;
    align-items: center;
    gap: 1.3em;
}

.nav-list-item {
    font-size: 3rem;
    color: var(--main-200);
}





@media screen and (min-width: 798px) {
.header {
    position: fixed;
    z-index: 9999;
    inset: 0;
    bottom: 90%;
    right:0;
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(1rem);
    transition: height 200ms ease-in-out;
    color: var(--main-200);
}

.nav__list {
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.primary-navigation {
    scale: 0;
    opacity: 0;
    transition: all 250ms ease-in-out;
     transform-origin: right;
}

.header:hover {
    height: auto;
}
.header:hover >.primary-navigation {
    scale: 1;
    opacity: 1;
}

.header:hover > span {
    opacity: 0;
}

.nav-list-item {
    color: var(--main-200);
}




/*  BUTTON */

.hamburger-visible {
    margin-right: 3em;
    display: block;
    position: relative;
}


.hamburger-visible-light {
    background-color: var(--main-200);
    order: 2;
}

.hamburger-visible,
.hamburger-visible::before,
.hamburger-visible::after {
    background-color: var(--main-700);
    width: 2em;
    height: 2px;
    border-radius: 50px;
}

.hamburger-visible::before,
.hamburger-visible::after {
    content: "";
    position: absolute;
}

.hamburger-visible::before {
    bottom: 10px;
    left: 0;
}

.hamburger-visible::after {
    top: 10px;
    right: 0;
}



}