.projects__title {
    margin-bottom: 1.3em;
  }

  .projects__inner {
    width: 95%;
    margin: 0 auto;
  }

  .projects__title-span {
    display: block;
  }

  /* .project-light{
   outline: 5px solid var(--accent-500);
   outline-offset: 5px;;
  }
  .project-dark {
   outline: 5px solid var(--accent-300);
   outline-offset: 3px;;
  } */

.projects-section {
    background-color: var(--main-700);
    padding: 3em 1em;
    text-align: center;
}


.projects-grid {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
}

.project-light {
    background-color: var(--accent-300);
}

.project-dark {
    background-color: var(--accent-500);
}
.hor {
    grid-column: span 2;
}

.ver {
    grid-row: span 2;
}

.project {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    height: auto;
    position: relative;
}

.project__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: var(--main-700);
}

.project__description {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: var(--main-700);
}

.project__btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--main-700);
}
 /* Will sort out when done views and components */
.project__link-container {
    position: absolute;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


/* .project-dark .project__link-container {
    background-color: var(--accent-300);
}
.project-light .project__link-container {
    background-color: var(--accent-500);
} */

/* HOVER EFFECT */

@media(hover: hover) {
    .project__link-container {
        position: absolute;
        height: 90%;
        width: 30%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        opacity: 0;
        transition: all 250ms ease-in-out;
    
    }
    
    .project-dark .project__link-container {
        background-color: var(--accent-300);
    }
    .project-light .project__link-container {
        background-color: var(--accent-500);
    }
    
    .project__link-container:hover, .project__link-container:active {
        transform: rotateY(0);
        opacity: 1;
        width: 90%;
    
    }
    

}



@media screen and (min-width: 670px) {
.projects__title-span {
    display: inline;
}
}
@media screen and (min-width: 900px) {
    .projects__inner {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
}