.single-project-footer {
    width: 100%;
    height: auto;
    background-color: var(--main-700);
}

.single-project-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
    margin: 0 auto;
    padding: 1.3em;
}

.project-footer__link {
    color: var(--accent-300);
    font-size: 3rem;
    
}