.hero {
    height: 70svh;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}
.project-section__title {
    font-size: 4.5rem;
    line-height: 1.1;
    text-align: center;
border-bottom: 1px solid var(--main-700);
margin-bottom: 2em;
padding: .5em;
}

.project-section__inner {
    padding: 2rem;
}
.project__info-title {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: .5em;
}

.project__info-text {
    font-size: 2rem;
    margin-bottom: 1.3em;
}

.project__links-title {
    text-align: center;
}

