.socials-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
}


.social__logos {
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.logo {
    width: 50px;
}