:root {
  --main-700: #030203;
  --main-200: #c3fcf2;
  --accent-300: #c68300;
  --accent-500: #00c9af;
  --accent-700: #392d3e;
}

.main-sticky {
  position: sticky;
  top: 0;
  height: 100%;
}

.sr-only {
  left: -1000vw;
  position: absolute;
}

body {
  /* background: var(--accent-500); */
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

.has-gradient-bg {
  background: rgba(7, 59, 76, 1);
  background: linear-gradient(180deg, rgba(0, 201, 175, 1) 5%, rgba(3, 2, 3, 1));
}

.has-outset-text-shadow {
  /* color: rgba(0, 0, 0, 1); */
  background: -webkit-linear-gradient(215deg, #808080,#00c7ad);
  -webkit-background-clip: text;
  background-size: 60% 60%;
  animation: gradient-animation 6s ease infinite;
  /* -webkit-text-stroke: 1px #00c7ad; */
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(3rem, 7vw, 4.5rem);
  line-height: 1,1
}

.title-black {
  color: var(--main-700);
}
.title-dark {
  color: var(--accent-500);
}

.title-white {
  color: var(--main-200);
}

.title-acc--light {
  color: var(--accent-300);
}

.title-acc--dark {
  color: var(--accent-500);
}
.text-black {
  color: var(--main-700);
}

.text-dark {
  color: var(--accent-500);
}

.text-white {
  color: var(--main-200);
}

.has-dark-text-shadow {
  -webkit-text-stroke: 1px black;
}

.has-text-shadow {
  text-shadow: 1px 2px 1px rgba(255, 255, 255, .5);

}

.has-box-shadow {
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

/*   ANIMATIONS */

.has-fade-animation {
  opacity: 0;

}

.has-slide-left-animation {
transform: translateX(300px);
opacity: 0;
}

.has-slide-right-animation {
  transform: translateX(-300px);
  opacity: 0;
}


/* TRANSITIONS IN OWN CLASS TO STOP THEM BEING OVERWRITTEN */
.transition-1 {
  transition: all 2s ease-in-out;
}

.transition-2 {
  transition: all 1s ease-in-out;
}

/* ANIMATION EFFECT CLASSES */

.faded {
  opacity: 1;
}

.slide-animated {
  transform: translate(0);
}

.has-link-hover {
position: relative;
}

.has-link-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in;
}

.has-link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.btn-sm {
  padding: 1em .3em;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 120px;

}

.btn-bg {
  border-radius: 10px;
  font-size: 2rem;
  padding: 1.5em .5em;
}

.btn-fill-dark {
  color: var(--main-700);
  background-color: var(--accent-500);
}

.btn-fill-light {
  color: var(--main-700);
  background-color: var(--accent-300);
}

.btn-ghost-dark {
  color: var(--accent-500);
  border: 3px solid var(--accent-500);
}
.btn-ghost-light {
  color: var(--accent-300);
  border: 3px solid var(--accent-300);
}

.contained {
  width: min(1200px, 90%);
  margin: 0 auto;
}


.divider {
  width: 100%;
  height: 1px;
  background-color: var(--accent-500);
}
@media screen and (min-width: 798px) {
  .has-gradient-bg {
    background: rgb(7, 59, 76);
    background: linear-gradient(180deg, rgba(0, 201, 175, 1) 5%, rgba(3, 2, 3, 1));

    background: linear-gradient(90deg, rgba(3, 2, 3, 1) 5%, rgba(0, 201, 175, 1) 20%, rgba(3, 2, 3, 1) 50%);
    .has-gradient-bg {
      background: #073b4c;
      background: linear-gradient(90deg,#073b4c 5%,#f2962f 20%,#073b4c 50%);
    }
  }
  btn {
    font-size: 1.7rem;

  }
}